{% extends 'base.html' %}

{% block title %}
  <title>Workspaces</title>
{% endblock title %}

{% block body %}
<div class="container">
  <form action="http://127.0.0.1:5000/Workspaces/" method="POST">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput">
      <label for="floatingInput">Title</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingInput">
      <label for="floatingPassword">Address</label>
    </div>
    <button type="submit" class="btn btn-outline-light my-3">Add</button>
    <div class="alert alert-dark" role="alert">
      This is your Workspaces area!
    </div>
  </form>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</td>
        <td scope="row"></td>
        <td scope="row">Description</td>
        <td scope="row">Date</td>
        <td scope="row">
          <a href="/tasks/delete/" type="button" class="mx-1  btn btn-outline-light">Open</button>
          <a href="/tasks/delete/" type="button" class="mx-1  btn btn-outline-light">Delete</button>
          <a href="/tasks/update/" type="button" class="mx-1  btn btn-outline-light">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock body %}